{% extends "base_auth.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-lg-4 col-sm-2"></div>
        <div class="col-md-6 col-lg-4 col-sm-8">
            <div class="card mt-5">
                <div class="card-title text-center mt-2">
                    <h1 class="h4">Login</h1><br>
                    <img height="70px" width="100px" src="{% static "img/logo.png" %}" alt="">
                </div>

                <form action="{% url "register" %}" method="post">
                    {% csrf_token %}
                    {% include "partials/_messages.html" %}
                    <div class="form-group m-4">
                        <input type="text" name="username" id="usernameField" class="form-control form-control-sm p-2" placeholder="Username" value={{fieldValues.username}} >
                    </div>
                    <div class="invalid-feedback username-invalid-feedback" style="display:none;">
                    </div>
                    <p class="text-sm ms-4 text-success usernameSuccessOutput"></p>
                    
                    <div class="form-group m-4">
                        <input type="email" name="email" id="emailField" class="form-control form-control-sm p-2" placeholder="Email" value={{fieldValues.email}}>
                    </div>
                    <div class="invalid-feedback email-invalid-feedback" style="display:none;">
                    </div>
                    
                    <div class="form-group m-4">
                        <input type="password" name="password" id="passwordField" class="form-control form-control-sm p-2" placeholder="Password"/>
                        <small class="float-end mt-3 fw-bold showPasswordToggle" >SHOW</small>
                    </div><br>
                    
                    <div class="d-grid gap-2 m-4">
                        <input type="submit" value="Register" class="btn btn-outline-info p-2 submit-register-btn">
                    </div>

                    <div class="text-center">
                        <p>Don't Have an Account? <a href="{% url "register" %}">Register</a> </p>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-sm-2"></div>
    </div>

    <script src="{% static "js/register.js" %}"></script>

{% endblock content %}