{% extends "base_auth.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-lg-4 col-sm-2"></div>
        <div class="col-md-6 col-lg-4 col-sm-8">
            <div class="card mt-5">
                <div class="card-title text-center mt-2">
                    <h1 class="h5">Please enter email to get reset link</h1><br>
                    <img height="70px" width="100px" src="{% static "img/logo.png" %}" alt="">
                </div>

                <form action="{% url "request-password" %}" method="post">
                    {% csrf_token %}
                    {% include "partials/_messages.html" %}

                    
                    <div class="container">
                        <div class="form-group mt-4">
                            <input type="email" name="email" id="emailField" class="form-control form-control-sm p-2" placeholder="Email" value="{{values.email}}"/>
                        </div><br>
                        
                        <div class="d-grid gap-2 mb-4">
                            <input type="submit" value="Submit" class="btn btn-outline-info p-2 submit-register-btn">
                        </div>
                    </div>

                    <div class="text-center">
                        <p>Back to <a href="{% url "login" %}">Login</a> Page</p>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-sm-2"></div>
    </div>

    <script src="{% static "js/register.js" %}"></script>

{% endblock content %}


