{% extends "base_auth.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-lg-4 col-sm-2"></div>
        <div class="col-md-6 col-lg-4 col-sm-8">
            <div class="card mt-5">
                <div class="card-title text-center mt-2">
                    <h1 class="h4">Reset Your new Password</h1><br>
                    <img height="70px" width="100px" src="{% static "img/logo.png" %}" alt="">
                </div>

                <form action="{% url "reset-user-password" uidb64 token %}" method="post">
                    {% csrf_token %}
                    {% include "partials/_messages.html" %}
                    
                    <div class="form-group m-4">
                        <input type="password" name="password" id="passwordField" class="form-control form-control-sm p-2 m-2" placeholder="Set New Password"/>
                        <input type="password" name="password2" id="password2Field" class="form-control form-control-sm p-2 m-2" placeholder="Set New Confirm Password"/>
                    </div><br>
                    
                    <div class="d-grid gap-2 m-4">
                        <input type="submit" value="Submit" class="btn btn-outline-info p-2 submit-register-btn">
                    </div>

                    {% comment %} <div class="text-center">
                        <p>Already Have an Account? <a href="{% url "login" %}">Login</a> </p>
                    </div> {% endcomment %}

                </form>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-sm-2"></div>
    </div>

    <script src="{% static "js/register.js" %}"></script>

{% endblock content %}